<h1>Welcome! You have been authenticated!</h1>
<!-- <form action="/posts" method="POST">
    <div>
        <label for="post">Post</label>
        <input type="text" id="post" name="post" required>
    </div>
    <button type="submit">Add Post</button>
</form>
<form action="/posts" method="GET">
    <button type="submit">Get Posts</button>

</form> -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>